// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-popup-modal {
    display: none;
}

#merchandise {
    display: none;
}

.home-slider {
    text-align: center;
}

.container {

    .row {

        .col-md-4 {
            background-color: #ccc;
        }
    }
}